{% extends 'base.html' %}


{% block content %}

    <div class="container">

        <div class="header">
            <h2 class="mb-3 mt-3">{% block title %}Tus publicaciones {% endblock %}</h2>
            <div class="d-flex justify-content-between mb-3">
                <p>¡Bienvenido al panel de administración de blogs!</p>
                <a href="" class="btn btn-outline-success">AÑADIR BLOG</a>
            </div>
        </div>

    </div>
    {% endblock %}

    {% block message %} alert-success {% endblock %}
 